In [6]:
from pyspark import SparkConf, SparkContext

conf = SparkConf().setMaster("local").setAppName("reduction-op")
sc = SparkContext(conf=conf)

sc

24/03/27 13:23:48 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [7]:
sample_rdd = sc.parallelize([1,2,3,4,5])
sample_rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:274

In [9]:
sample_rdd.reduce(lambda x,y : x+y)

15

# 파티션에 따라 결과물이 달라진다.
- 분산된 파티션들의 연산과 합치는 부분을 나눠서 생각해야 함
    `lambda x,y : (x*2) + y`

In [13]:
# 파티션이 1개인 경우
sc.parallelize([1,2,3,4]).reduce(lambda x,y : (x * 2) + y)

26

In [15]:
# 파티션이 2개인 경우
sc.parallelize([1,2,3,4],2).reduce(lambda x,y : (x * 2) + y)

18

In [17]:
rdd = sc.parallelize([1,2,3,4],2)
rdd.glom().collect()

[[1, 2], [3, 4]]

In [19]:
# 파티션이 3개인 경우
sc.parallelize([1,2,3,4],3).reduce(lambda x,y : (x * 2) + y)

# sc.parallelize([1,2,3,4],3).glom().collect()

18

In [21]:
# 파티션이 4개인 경우
sc.parallelize([1,2,3,4],4).reduce(lambda x,y : (x * 2) + y) 

# 파티션 1개인 경우와 결과는 같지만
# 병렬처리가 가능해진다!

26

# Fold
- RDD.fold(zeroValue, <task>)
- `reduce`와 비슷하지만, 시작값을 `zeroValue`에 넣어놓고 `reduce`할 수 있다.

In [23]:
rdd = sc.parallelize([2,3,4],4)
rdd.glom().collect()

[[], [2], [3], [4]]

In [25]:
rdd.reduce(lambda x , y : x * y) # [] * 2*3*4 = 24 , 만약 없는애가 있으면 그냥 넘어감

24

In [28]:
rdd.fold(1, lambda x,y : x*y)  # [1*1] * [1*2] * [1*3] * [1*4] = 24 , fold는 없는 애를 억지로 실행시키려고 1*1을 넣어버림

24

In [29]:
rdd.reduce(lambda x,y : x+y) #  []+ [2] + [3] + [4] -> 2 + 3 + 4 = 9

9

In [33]:
rdd.fold(1, lambda x , y : x + y) # [] + [2] + [3] + [4] ->  [1+1] + [1+2] + [1+3] + [1+4] = 14

14

# aggeeregate(action)
- RDD.aggregate(zeroValue, seqOp, combOp)
    - zeroValue : 각 파티션에서 누적할 시작값
    - seqOp : 타입 변경 함수. 파티션 내부에서 사용할 task
    - combOp : 합치는 함수. 파티션끼리 사용할 task

In [34]:
rdd = sc.parallelize([1,2,3,4],2)
rdd.glom().collect()

[[1, 2], [3, 4]]

In [35]:
seqOp = lambda x,y : (x[0]+y, x[1]+1) # 파티션 내의 reduce task
combOp = lambda x,y : (x[0]+y[0],x[1]+y[1]) # 파티션 연산 결과에 대한 reduce task

In [36]:
rdd.aggregate((0,0),seqOp,combOp)

(10, 4)

# 연산 순서
z -> (0,0)
1. x -> (0,0), y -> 1
  => (0+1, 0+1)
 
2. x = (1,1), y = 2
  => (1+2, 1+1)
----  
1. x = (0,0), y = 3
  => (0+3, 0+1)

2. x = (3,1), y = 4
  => (3+4 , 1+1)
---
- 결론 x= (3,2) y= (7,2)
  => (3 + 7 , 2 + 2)
  = 10 , 4

In [38]:
sc.stop()