# Series와 DataFrame의 차이는?
### 기본적으로 시리즈는 1차원 배열, 데이터프레임은 2차원 배열 혹은 행과 열이 있는 2차원 데이터 구조이다.

In [6]:
# 데이터프레임 만들기 기초

import pandas as pd

table_data = {"year" : [2015,2016,2017,2018,2018],
              "nation" : ['ko','ko','us','ja','ch'],
              "customer_number" : [200,250,300,250,400]}
table_data

{'year': [2015, 2016, 2017, 2018, 2018],
 'nation': ['ko', 'ko', 'us', 'ja', 'ch'],
 'customer_number': [200, 250, 300, 250, 400]}

In [11]:
df = pd.DataFrame(table_data) # Dataframe 생성
df

   year nation  customer_number
0  2015     ko              200
1  2016     ko              250
2  2017     us              300
3  2018     ja              250
4  2018     ch              400

In [18]:
df = pd.DataFrame(data=table_data, columns=['nation', 'year','customer_number']) # 이런 식으로 칼럼 순서를 바꿀 수 있다
df # 굳이 df에 할당하는 이유는 없다~~ df 선언 안해도 잘만 나옴
# 그리고 pd.DataFrame(table_data, columns=['nation', 'year','customer_number'])

# pd.DataFrame(table_data, columns=['nation', 'year','customer_number']) << 이렇게 표시해도 똑같이 나옴

  nation  year  customer_number
0     ko  2015              200
1     ko  2016              250
2     us  2017              300
3     ja  2018              250
4     ch  2018              400

In [ ]:
# Series 만들기 

s1 = pd.Series([10,20,30,40,50])
s1

In [35]:
# Numpy 기초
import numpy as np # 사실 as 뒤에 아무거나 붙여도 되는 건 함정~

data1 = [1,2,3,4,5,6.3,7,8,10]
a1 = np.array(data1)
a1

# 정수형, 실수형 데이터의 차이점을 한 번 살펴보자~

array([ 1. ,  2. ,  3. ,  4. ,  5. ,  6.3,  7. ,  8. , 10. ])

In [36]:
data2 = [[1,2,3],[2,3,4],[3,4,5]]
a2 = np.array(data2)
a2
# data2

# data2와 a2를 출력했을 때의 차이가 뭔가?

array([[1, 2, 3],
       [2, 3, 4],
       [3, 4, 5]])

In [37]:
data2

[[1, 2, 3], [2, 3, 4], [3, 4, 5]]

In [43]:
a1.reshape(1,-1) # 1행으로 모양 바꾸기
a1.reshape(3,3) # 3행으로 모양 바꾸기
# a1.reshape(4,4) # 빈 부분이 자동적으로 채워지진 않아서 에러 발생

array([[ 1. ,  2. ,  3. ],
       [ 4. ,  5. ,  6.3],
       [ 7. ,  8. , 10. ]])

In [45]:
a1 # sort함수처럼 영구적으로 변형시키지는 않음

array([ 1. ,  2. ,  3. ,  4. ,  5. ,  6.3,  7. ,  8. , 10. ])

In [49]:
a1.reshape(3,3).shape
# shape은 모양이 어떻게 생겼나 살펴 볼 수 있음
# (행 갯수 , 열 갯수) 라고 이해하면 될 듯
# a1.shape

(3, 3)

In [54]:
a = range(2,11,2)
np.array(a)
# 이런 식으로 두 줄로 표현 할 수도 있지만

array([ 2,  4,  6,  8, 10])

In [61]:
np.arange(2,11,2) 
# np를 활용해 한줄로 표현 할 수도 있음.
# 단, range가 아닌 arange라는 것을 기억할 것

array([ 2,  4,  6,  8, 10])

In [63]:
np.linspace(1,10,5) # 1에서 10까지 5등분하여 나타내기

array([ 1.  ,  3.25,  5.5 ,  7.75, 10.  ])

In [67]:
np.linspace(0,10,4)

array([ 0.        ,  3.33333333,  6.66666667, 10.        ])

In [75]:
# 데이터 형이 문자 일 때, 실수로 변환 시
data = ["1","323.53","555","345.331"]
str_data = np.array(data)
float_data = str_data.astype(float)
float_data

array([  1.   , 323.53 , 555.   , 345.331])

In [77]:
data = ["1","323.53","555","345.331"]
str_data = np.array(data)
float_data = str_data.astype(float)
int_data.astype(int)
# 이거 개 귀찮은데 한번에 바꿀 방법은 없나?

array([  1, 323, 555, 345])